doctype html
div(ng-controller="HomeCtrl as blog" layout="horizontal" layout-fill)
  md-sidenav(id="left" class="md-sidenav-left" component-id="left" is-locked-open="$media('md')")
    md-toolbar
      h1(class="md-toolbar-tools") Categories
    md-content(class="md-padding")
      md-button(ng-repeat="category in blog.categories" ng-click="refreshPosts(category.key)" class="md-primary" aria-label="Show Category {{category.name}}") {{category.name}}
      md-button(ng-click="closeLeft()" class="md-primary" hide-md aria-label="Close Categories") Close
  md-content
    md-button(ng-click="blog.toggleLeft()" class="md-primary" aria-label="Toggle Categories" hide-md) Categories
    md-list
      md-item(ng-repeat="post in blog.posts")
        md-item-content
          //- md-whiteframe(class="md-whiteframe-z1" layout layout-align="center center" ng-class="{'md-whiteframe-z2': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false")
          div(class="md-tile-left")
            a(href="" ng-click="go('/post/'+post.slug)")
              img(ng-src="{{post.image.url}}" class="face img")
            //- img(ng-src="{{post.image.url}}" class="face img" ng-click="go('/post/'+post.slug)")
          div(class="md-tile-content")
            h3 {{post.title}}
            h4 Posted on {{post.publishedDate | date:'longDate'}} in 
              span(ng-repeat="category in post.categories") 
                a(href="" ng-click="go('/blog/' + category.key)") {{category.name}}
                //- md-button(ng-click="refreshPosts(category.key)") {{category.name}}
                | {{$last ? ' ' : ', '}}
              | by {{post.author.name.first}}
            
            //- {{post.content.brief}}
            div(ng-bind-html="post.content.brief")
            //- a(href="app#/post/{{post.slug}}") Read
            md-button(class="md-raised" ng-click="go('/post/'+post.slug)" aria-label="Read {{post.slug}}") Read
          //- div(class="md-tile-right")
        md-divider(ng-if="!$last" inset)
            